form,
ul,
li,
span {
  display: flex;
  gap: 8px;
}

ul {
  flex-direction: column;
  list-style: none;
}

li {
  justify-content: space-between;
}

section,
form,
ul {
  padding: 16px;
}

section {
  border: 2px solid black;
  border-radius: 8px;
  /* backdrop-filter: blur(10px); */
}
